<button (click)="toggleWmsLayer()" class="layer-toggle-button"> <!-- Button to toggle the layer -->
    <img style="height: 24px; width: 24px;" src="../../assets/layers.png" alt="Toggle Layer">
</button>
<div id="map" class="map-container"></div> <!-- This is the map container -->
<div id="popup" class="ol-popup"> <!-- This is the popup container -->
    <a href="#" id="popupClose" class="ol-popup-closer"></a> <!-- This is the popup closer -->
    <div id="popup-content" class="popup-content"></div> <!-- This is the popup content -->
</div>