.map-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

// CSS for the popup
.ol-popup {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    bottom: 12px;
    left: -50px;
    min-width: 200px;
    z-index: 10;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 20%;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #ddd;
    border-width: 11px;
    left: 50%;
    margin-left: -11px;
}

.ol-popup-closer {
    position: absolute;
    top: 2px;
    right: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #333;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.ol-popup-closer:after {
    content: "✖";
}

.popup-content {
    font-size: 14px;
    line-height: 1.5;
}

// CSS for buttons and drawing controls
.set-top-right {
    position: absolute;
    border: 1px solid #ddd;
    top: 10px;
    right: 15px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 20;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.set-top-right:hover {
    background-color: #e2e6ea;
    transform: translateY(-2px);
}

.stopDrawing {
    font-family: "Iconify";
    font-size: 24px;
    background: url('https://api.iconify.design/ic/round-stop.svg?color=black&width=24&height=24') no-repeat center center / contain;
    content: url('https://api.iconify.design/ic/round-stop.svg?color=black&width=24&height=24');
}

.startDrawing {
    font-family: "Iconify";
    font-size: 24px;
    background: url('https://api.iconify.design/ic/baseline-draw.svg?color=black&width=24&height=24') no-repeat center center / contain;
    content: url('https://api.iconify.design/ic/baseline-draw.svg?color=black&width=24&height=24');
}